html{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    text-align: center;
    background-color: #381b0b;
}

h1{
    margin: 2rem 0;
}

h2{
    margin: 2rem 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.allcomment-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    background-color: #724220;
    border-radius: 10px;
    overflow: hidden;
}

.comment-container img{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
}
.comment-container > p{
    background-color: #c7b496;
    color: #381b0b;
    padding: 1rem;
    flex: 1;
}

.author-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
}

.author-information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem
}




